.header-image {

    position: relative;

    z-index: 0;

    img {

        object-fit: cover;
        width: 100%;
        height: 400px;

        margin-top: -4px;

        @include mobile-only {

            height: 250px;

        }

    }

}