.section-location {

    background-color: $secondary-bg-color;

    text-align: center;
    
    padding-top: 20px;
    padding-bottom: 20px;

}

.section-explore {
    background-color: $primary-bg-color;

    text-align: center;

    padding: 20px;
    padding-bottom: 40px;
}