.section-location {

    background-color: $secondary-bg-color;

    @include text-align__center;
    
    padding-top: 20px;
    padding-bottom: 20px;

}





.section-explore {

    background-color: $primary-bg-color;

    @include text-align__center;

    padding: 20px;
    
    &__big-font {

        font-size: 27px;
        font-weight: bold;

        margin-top: 20px;
        margin-bottom: 0px;
    }

    &__link {

        margin-top: 15px;
        margin-bottom: 20px;

    }

}





.section-functioning {

    padding-top: 20px;
    padding-bottom: 20px;

    &__list {

        display: flex;
        justify-content: space-between;


        list-style: none;

        padding-left: 0;

        @include mobile-only {

            flex-direction: column;

        }

        @include tablette-only {

            flex-direction: column;

        }

        .item {

            width: 400px;
            height: 80px;

            border-radius: 20px;

            display: flex;

            @include box-shadow;

            background-color: $primary-bg-color;

            transition: all 0.3s;


            @include desktop-only {

                margin-left: 30px;

            }

           @include tablette-only {

            width: 100%;

            margin: 0 0 25px 10px;

           }

            &:hover {

                background-color: lightened($primary-color, 96%);

                transform: scale(1.02);
                
                .item__icon{
                   
                    color: $primary-color;
                    
                }

            }

            

            &__number {

                padding: 4px 10px;

                border-radius: 50%;
    
                background-color: $primary-color;

                margin: auto 10px auto -17px;

                color: $white-color;
                
    
            }

            &__icon {
                            
                            
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 15px;


                color: $icon-color;
                          
            }

            .icon-size1 {

                font-size: 19px;

            }

            .icon-size2 {

                font-size: 19px;

            }

            p {
                
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 7%;

                font-weight: bold;

                color: $black-color;

            }

            

        }


        
    }

}





.section-restaurant {

    background-color: $primary-bg-color;

    &__container {

        padding-top: 20px;
        padding-bottom: 24px;

    }

    .card-container {

        margin-bottom: 20px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        .card {

            width: 49%;

            margin-bottom: 26px;

            transition: all 0.3s;

            margin-bottom: 75px;

            @include mobile-only {

                width: 100%;

            }

            &:hover {

                transform: scale(1.02);

            }

            &__link {

                text-decoration: none;

            }
            

            &__image {

                height: 200px;

                &--new {

                    background-color: $tertiary-color;

                    padding: 5px 15px;

                    position: absolute;

                    margin-left: -130px;
                    margin-top: 20px;

                    color: lightened($tertiary-color, 25%);

                    font-size: 18px;

                }

                img {
                    
                    height: 100%;
                    width: 100%;

                    object-fit: cover;

                    border-radius: 20px 20px 0 0;

                }

            }


            &__text {

                height: 70px;

                background-color: $white-color;
                color: $black-color;

                border-radius: 0 0 20px 20px;

                @include box-shadow;

                h3 {

                    padding: 7px 0px 0px 15px;

                    margin: 0;

                }

                p {

                    padding: 5px 0px 0px 15px;

                    margin: 0;

                }

            }

        }

    }

}



.section-menu {

    background-color: $primary-bg-color;

    margin-top: -50px;

    position: relative;

    z-index: 1;

    @include mobile-only {

        border-top-left-radius: 40px;
        border-top-right-radius: 40px;

    }
    

    &__title {

        @include text-align__center;

        font-size: 35px;
        font-family: "Shrikhand", sans-serif;
        font-weight: lighter;

        margin: 0;

        padding-top: 35px;
        padding-bottom: 20px;

        @include mobile-only {

            text-align: left;

            display: flex;

            justify-content: space-between;

            align-items: center;

            .heart2 {

                padding-right: 20px;

            }
    
        }

    }

    &__button {

        text-align: center;

        padding-top: 20px;
        padding-bottom: 20px;

    }

    h3::after {

        content: "";

        display: block;

        width: 55px;

        margin-top: 5px;

        border-bottom: 4px $tertiary-color solid;

    }

    .article__flex {

        display: flex;
        justify-content: space-between;

        flex-flow: wrap;

    }

    &__article {

        width: 30%;

        margin-bottom: 25px;


        @include desktop-only {

            width: 47%;

        }

        @include mobile-only {

            width: 100%;

        }

        

        .menu-item {

            border-radius: 25px;
            background-color: $white-color;
            @include box-shadow;

            margin-bottom: 15px;
            margin-top: 15px;

            height: 75px;

            overflow: hidden;

            display: flex;

            cursor: pointer;

            opacity: 0;

            &:nth-child(2) {

                animation: slideUp 1s forwards;

                animation-delay: calc(2s / 5);
    
            }
    
            &:nth-child(3) {
    
                animation: slideUp 1s forwards;

                animation-delay: calc(3s / 5);
    
            }
    
            &:nth-child(4) {
    
                animation: slideUp 1s forwards; 

                animation-delay: calc(4s / 5);
    
            }
    
            &:nth-child(5) {
    
                animation: slideUp 1s forwards;

                animation-delay: calc(5s / 5);
    
            }

            @keyframes slideUp {
        
                0% {
        
                    transform: translate(0, 20px);
        
                    opacity: 0%;
        
                }
        
                100% {
        
                    transform: translate(0, 0);
        
                    opacity: 100%;
        
                }
        
            }

            &:hover {

                .menu-item__animation {

                    
                    min-width: 80px;

                    margin-right: 0px;

                    

                }

                .rotation {
                        
                    rotate: 360deg;

                }

            }
            
            .menu-item__text {

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                h4 {

                    font-size: 20px;
    
                    margin: 0;
                    padding: 13px 0 0 15px;
    
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
    
                }
    
                p {
    
                    font-size: 18px;
    
                    margin: 0;
                    padding: 5px 0 0 15px;
    
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
    
                }

            }

            .menu-item__prix {

                padding-top: 41px;
                padding-right: 20px;

                font-weight: bold;
                font-size: 18px;

                margin-left: auto;

            }

            .menu-item__animation {

                min-width: 0px;
                
                margin-right: -50px;
                
                background-color: $tertiary-color;
                
                transition: all 0.6s ease-in-out;

                text-align: center;

                .rotation {

                    color: $white-color;

                    font-size: 30px;

                    margin-top: 24px;
                    
                    transition: all 0.6s ease-in-out;
                    
                    padding-left: 10px;
                    padding-right: 10px;

                }

            }

            

        }

        

    }

}
