* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  font-size: 22px;
}

body * {
  font-family: "Roboto", sans-serif;
}

.section-location {
  background-color: #eaeaea;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-explore {
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px;
}
.section-explore__big-font {
  font-size: 27px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}
.section-explore__link {
  margin-top: 15px;
  margin-bottom: 20px;
}

.section-functioning {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-functioning__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  .section-functioning__list {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .section-functioning__list {
    flex-direction: column;
  }
}
.section-functioning__list .item {
  width: 400px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f7f7f7;
  transition: all 0.3s;
}
@media screen and (max-width: 1345px) {
  .section-functioning__list .item {
    margin-left: 30px;
  }
}
@media screen and (max-width: 992px) {
  .section-functioning__list .item {
    width: 100%;
    margin: 0 0 25px 10px;
  }
}
.section-functioning__list .item:hover {
  background-color: hsl(267.3134328358deg, 100%, 96%);
  transform: scale(1.02);
}
.section-functioning__list .item:hover .item__icon {
  color: #9356DC;
}
.section-functioning__list .item__number {
  padding: 4px 10px;
  border-radius: 50%;
  background-color: #9356DC;
  margin: auto 10px auto -17px;
  color: white;
}
.section-functioning__list .item__icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  color: grey;
}
.section-functioning__list .item .icon-size1 {
  font-size: 19px;
}
.section-functioning__list .item .icon-size2 {
  font-size: 19px;
}
.section-functioning__list .item p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7%;
  font-weight: bold;
  color: black;
}

.section-restaurant {
  background-color: #f7f7f7;
}
.section-restaurant__container {
  padding-top: 20px;
  padding-bottom: 24px;
}
.section-restaurant .card-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-restaurant .card-container .card {
  width: 49%;
  margin-bottom: 26px;
  transition: all 0.3s;
  margin-bottom: 75px;
}
@media screen and (max-width: 768px) {
  .section-restaurant .card-container .card {
    width: 100%;
  }
}
.section-restaurant .card-container .card:hover {
  transform: scale(1.02);
}
.section-restaurant .card-container .card__link {
  text-decoration: none;
}
.section-restaurant .card-container .card__image {
  height: 200px;
}
.section-restaurant .card-container .card__image--new {
  background-color: #99E2D0;
  padding: 5px 15px;
  position: absolute;
  margin-left: -130px;
  margin-top: 20px;
  color: hsl(165.2054794521deg, 100%, 25%);
  font-size: 18px;
}
.section-restaurant .card-container .card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.section-restaurant .card-container .card__text {
  height: 70px;
  background-color: white;
  color: black;
  border-radius: 0 0 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-restaurant .card-container .card__text h3 {
  padding: 7px 0px 0px 15px;
  margin: 0;
}
.section-restaurant .card-container .card__text p {
  padding: 5px 0px 0px 15px;
  margin: 0;
}

.section-menu {
  background-color: #f7f7f7;
  margin-top: -50px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .section-menu {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
  }
}
.section-menu__title {
  text-align: center;
  font-size: 35px;
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .section-menu__title {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-menu__title .heart2 {
    padding-right: 20px;
  }
}
.section-menu__button {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-menu h3::after {
  content: "";
  display: block;
  width: 55px;
  margin-top: 5px;
  border-bottom: 4px #99E2D0 solid;
}
.section-menu .article__flex {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.section-menu__article {
  width: 30%;
  margin-bottom: 25px;
}
@media screen and (max-width: 1345px) {
  .section-menu__article {
    width: 47%;
  }
}
@media screen and (max-width: 768px) {
  .section-menu__article {
    width: 100%;
  }
}
.section-menu__article .menu-item {
  border-radius: 25px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 75px;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  opacity: 0;
}
.section-menu__article .menu-item:nth-child(2) {
  animation: slideUp 1s forwards;
  animation-delay: 0.4s;
}
.section-menu__article .menu-item:nth-child(3) {
  animation: slideUp 1s forwards;
  animation-delay: 0.6s;
}
.section-menu__article .menu-item:nth-child(4) {
  animation: slideUp 1s forwards;
  animation-delay: 0.8s;
}
.section-menu__article .menu-item:nth-child(5) {
  animation: slideUp 1s forwards;
  animation-delay: 1s;
}
@keyframes slideUp {
  0% {
    transform: translate(0, 20px);
    opacity: 0%;
  }
  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}
.section-menu__article .menu-item:hover .menu-item__animation {
  min-width: 80px;
  margin-right: 0px;
}
.section-menu__article .menu-item:hover .rotation {
  rotate: 360deg;
}
.section-menu__article .menu-item .menu-item__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-menu__article .menu-item .menu-item__text h4 {
  font-size: 20px;
  margin: 0;
  padding: 13px 0 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-menu__article .menu-item .menu-item__text p {
  font-size: 18px;
  margin: 0;
  padding: 5px 0 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section-menu__article .menu-item .menu-item__prix {
  padding-top: 41px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 18px;
  margin-left: auto;
}
.section-menu__article .menu-item .menu-item__animation {
  min-width: 0px;
  margin-right: -50px;
  background-color: #99E2D0;
  transition: all 0.6s ease-in-out;
  text-align: center;
}
.section-menu__article .menu-item .menu-item__animation .rotation {
  color: white;
  font-size: 30px;
  margin-top: 24px;
  transition: all 0.6s ease-in-out;
  padding-left: 10px;
  padding-right: 10px;
}

.main-header {
  margin-bottom: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main-header .nav {
  position: relative;
}
.main-header .nav__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .main-header .nav__title {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.main-header .nav__title img {
  width: 250px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .main-header .nav__title img {
    width: 180px;
  }
}
.main-header .nav__title .hidden {
  display: none;
}
.main-header .nav .nav__link {
  position: absolute;
  margin-top: 35px;
  margin-left: 40px;
  color: black;
}
@media screen and (max-width: 768px) {
  .main-header .nav .nav__link {
    margin-top: 25px;
    margin-left: 25px;
  }
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.main-footer {
  background-color: rgb(53, 53, 53);
  margin-bottom: -22px;
}
.main-footer .footer {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main-footer .footer {
    text-align: start;
  }
}
.main-footer .footer__title {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  padding-top: 20px;
  margin: 0;
}
.main-footer .footer__list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 15px;
  margin-top: 15px;
}
.main-footer .footer__icon {
  font-size: 18px;
  padding-right: 10px;
}
.main-footer .footer__icon--size {
  font-size: 13px;
  padding-right: 8px;
}
.main-footer .footer__item {
  color: white;
  padding-bottom: 5px;
  display: inline-block;
  transition: all 0.3s;
}
.main-footer .footer__item:hover {
  transform: scale(1.02);
}

.button {
  display: inline-block;
  background-color: #9356DC;
  background-image: linear-gradient(175deg, #FF79DA, rgba(255, 255, 255, 0));
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 25px;
  border-radius: 40px;
  transition: all 0.3s;
}
.button:hover {
  background-color: hsl(267.3134328358deg, 100%, 75%);
  transform: scale(1.02);
}

.button-menu {
  padding: 15px 45px;
  margin-top: -10px;
  margin-bottom: 25px;
}

.header-image {
  position: relative;
  z-index: 0;
}
.header-image img {
  object-fit: cover;
  width: 100%;
  height: 400px;
  margin-top: -4px;
}
@media screen and (max-width: 768px) {
  .header-image img {
    height: 250px;
  }
}

.link {
  text-decoration: none;
}

.heart {
  position: relative;
  margin-left: 86%;
  margin-top: -50px;
  width: 0px;
  height: 0px;
  transition: all 0.2s;
}
.heart .hidden1 {
  font-size: 30px;
  transition: all 0.2s;
  cursor: pointer;
}
.heart .hidden2 {
  position: absolute;
  margin-top: -31px;
  font-size: 30px;
  opacity: 0%;
  transition: all 0.2s;
  cursor: pointer;
}
.heart input:checked + .hidden2 {
  position: absolute;
  opacity: 100%;
  color: #9356DC;
  margin-top: -31px;
}
.heart #heart1, .heart #heart2, .heart #heart3, .heart #heart4 {
  display: none;
  position: absolute;
  margin-top: -31px;
}
.heart:hover .hidden1 {
  opacity: 0%;
}
.heart:hover .hidden2 {
  opacity: 100%;
  color: #9356DC;
}

.heart2 {
  display: inline-block;
  position: relative;
  transition: all 0.2s;
  margin-left: 20px;
}
.heart2 .hidden1 {
  font-size: 25px;
  transition: all 0.2s;
  cursor: pointer;
}
.heart2 .hidden2 {
  position: absolute;
  margin-left: -25px;
  font-size: 25px;
  opacity: 0%;
  transition: all 0.2s;
  cursor: pointer;
}
.heart2 input:checked + .hidden2 {
  position: absolute;
  opacity: 100%;
  color: #9356DC;
}
.heart2 #heart {
  display: none;
  position: absolute;
}
.heart2:hover .hidden1 {
  opacity: 0%;
}
.heart2:hover .hidden2 {
  opacity: 100%;
  color: #9356DC;
}

.loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 100;
  animation: bg 1s 3.2s forwards;
}
.loading__animation {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #9356DC;
  animation: spin 2s linear infinite;
}
.loading__animation:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #FF79DA;
  animation: spin 3s linear infinite;
}
.loading__animation:after {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: #99E2D0;
  animation: spin 1.5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bg {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
