* {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  font-size: 22px;
}

body * {
  font-family: "Roboto", sans-serif;
}

.section-location {
  background-color: #eaeaea;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-explore {
  background-color: #f7f7f7;
  text-align: center;
  padding: 20px;
}
.section-explore__big-font {
  font-size: 27px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0px;
}
.section-explore__link {
  margin-top: 15px;
  margin-bottom: 20px;
}

.section-functioning {
  padding-top: 20px;
  padding-bottom: 20px;
}
.section-functioning__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}
@media screen and (max-width: 768px) {
  .section-functioning__list {
    flex-direction: column;
  }
}
@media screen and (max-width: 992px) {
  .section-functioning__list {
    flex-direction: column;
  }
}
.section-functioning__list .item {
  width: 400px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f7f7f7;
  transition: all 0.3s;
}
@media screen and (max-width: 1345px) {
  .section-functioning__list .item {
    margin-left: 30px;
  }
}
@media screen and (max-width: 992px) {
  .section-functioning__list .item {
    width: 100%;
    margin: 0 0 25px 10px;
  }
}
.section-functioning__list .item:hover {
  background-color: hsl(267.3134328358deg, 100%, 96%);
  transform: scale(1.02);
}
.section-functioning__list .item:hover .item__icon {
  color: #9356DC;
}
.section-functioning__list .item__number {
  padding: 4px 10px;
  border-radius: 50%;
  background-color: #9356DC;
  margin: auto 10px auto -17px;
  color: white;
}
.section-functioning__list .item__icon {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  color: grey;
}
.section-functioning__list .item .icon-size1 {
  font-size: 19px;
}
.section-functioning__list .item .icon-size2 {
  font-size: 19px;
}
.section-functioning__list .item p {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 7%;
  font-weight: bold;
  color: black;
}

.section-restaurant {
  background-color: #f7f7f7;
}
.section-restaurant__container {
  padding-top: 20px;
  padding-bottom: 24px;
}
.section-restaurant .card-container {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-restaurant .card-container .card {
  width: 49%;
  margin-bottom: 26px;
  transition: all 0.3s;
  margin-bottom: 75px;
}
@media screen and (max-width: 768px) {
  .section-restaurant .card-container .card {
    width: 100%;
  }
}
.section-restaurant .card-container .card:hover {
  transform: scale(1.02);
}
.section-restaurant .card-container .card__link {
  text-decoration: none;
}
.section-restaurant .card-container .card__image {
  height: 200px;
}
.section-restaurant .card-container .card__image--new {
  background-color: #99E2D0;
  padding: 5px 15px;
  position: absolute;
  margin-left: -130px;
  margin-top: 20px;
  color: hsl(165.2054794521deg, 100%, 25%);
  font-size: 18px;
}
.section-restaurant .card-container .card__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.section-restaurant .card-container .card__text {
  height: 70px;
  background-color: white;
  color: black;
  border-radius: 0 0 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.section-restaurant .card-container .card__text h3 {
  padding: 7px 0px 0px 15px;
  margin: 0;
}
.section-restaurant .card-container .card__text p {
  padding: 5px 0px 0px 15px;
  margin: 0;
}

.main-header {
  margin-bottom: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main-header .nav__link {
  text-align: center;
}
.main-header .nav__link--logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .main-header .nav__link--logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.main-header .nav__link--logo img {
  width: 250px;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .main-header .nav__link--logo img {
    width: 180px;
  }
}
.main-header .nav__link .hidden {
  display: none;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.main-footer {
  background-color: rgb(53, 53, 53);
  margin-bottom: -22px;
}
.main-footer .footer {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .main-footer .footer {
    text-align: start;
  }
}
.main-footer .footer__title {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-weight: lighter;
  padding-top: 20px;
  margin: 0;
}
.main-footer .footer__list {
  list-style: none;
  padding-left: 0;
  padding-bottom: 15px;
  margin-top: 15px;
}
.main-footer .footer__icon {
  font-size: 18px;
  padding-right: 10px;
}
.main-footer .footer__icon--size {
  font-size: 14px;
  padding-right: 8px;
}
.main-footer .footer__item {
  color: white;
  padding-bottom: 5px;
  display: inline-block;
  transition: all 0.3s;
}
.main-footer .footer__item:hover {
  transform: scale(1.02);
}

.button {
  display: inline-block;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 25px;
  border-radius: 40px;
  transition: all 0.3s;
}
.button:hover {
  background: linear-gradient(175deg, hsl(316.5671641791deg, 100%, 75%), hsl(267.3134328358deg, 100%, 75%));
  transform: scale(1.02);
}

.link {
  text-decoration: none;
}

.heart {
  margin-left: 85%;
  margin-top: -50px;
  width: 0px;
  height: 0px;
}
.heart .hidden1 {
  font-size: 30px;
}
.heart .hidden2 {
  display: none;
  font-size: 30px;
}
.heart:hover .hidden1 {
  display: none;
}
.heart:hover .hidden2 {
  display: block;
  color: purple;
}

/*# sourceMappingURL=style.css.map */
